<p>
    <strong>Commenter:</strong><br />
    <%= comment.commenter %>
</p>
<p>
    <strong>Body:</strong><br />
    <%= comment.body %>
</p>
<p>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>